idnits on current version 

running some local nits tools on the current version in git and saw something

1)   ** Downref: Normative reference to an Experimental RFC: RFC 1464

the handful of drafts that refer to it, do so informatively

https://datatracker.ietf.org/doc/rfc1464/referencedby/

Also I told Paul about this:

2)   -- Obsolete informational reference (is this intentional?): RFC 8499
     (Obsoleted by RFC 9499)

3) one edit

s/Let’s Encrypt/Let's Encrypt/  

( the ascii apostrophe)

4) BCP14

since you run kramdown, you should just add this to your document

{::boilerplate bcp14}

and it will/should do the needful

no TOC getting created - odd but I prefer mmark over kramdown so whatevers


no acknowledgement section ? I know you got some feedback from someone other than me

`<intermediary-random-token>.dcv.intermediary.example. TXT "<provider-random-token>"
`
add the "IN" in there to match all the other record examples 

_foo-challenge.example.com.  IN   CNAME <random-token>.dcv.provider.example.

update this to put quotes around the RDATA to match the others

_foo-challenge.example.com.  IN   CNAME "<random-token>.dcv.provider.example."


A.1.2.2.2.  AWS Certificate Manager (ACM)

can these be fixed up?   remove the backtick wrap RDATA witrh double quotes

 `_<random-token1>.example.com.   IN   CNAME _<random-token2>.acm-validations.aws.`


    `_<random-token2>.acm-validations.aws.   IN   TXT <random-token3>`

https://github.com/ietf-wg-dnsop/draft-ietf-dnsop-domain-verification-techniques/pull/126

Something to consider 

"Conventions and Definitions" include the bcp14 boilerplate

I feel we should add a subsection

## Terminology


